DATABASE_URL=postgres://postgres:{{ lookup('pipe', 'rpass get ' + inventory_hostname + '/upmon/db-password') }}@{{ lookup('pipe', 'rdocker get-ip timescaledb') }}:5432/upmon
API_KEY={{ lookup('pipe', 'rpass get ' + inventory_hostname + '/upmon/api-key') }}
FRONTEND_DIR=/home/{{ ansible_user }}/app/upmon/frontend-dist
