DATABASE_URL=postgres://postgres:{{ lookup('pipe', 'rpass get ' + inventory_hostname + '/upmon/db-password') }}@{{ lookup('pipe', 'rdocker get-ip timescaledb') }}:5432/upmon
LISTEN_PORT={{ lookup('pipe', 'rpass port get ' + inventory_hostname + '/upmon-backend') }}
API_KEY={{ lookup('pipe', 'rpass get ' + inventory_hostname + '/upmon/api-key') }}
